<div class="form-group">
  <label>Username</label>
  <input type="text" [(ngModel)]="username">
</div>
<div class="form-group">
  <button (click)="getservices()" class="btn btn-primary">Get Repos</button>
</div>
<div *ngIf="isLoading">
  Loading....
</div>
<div *ngIf="Errors">
  {{Errors | json}}
</div>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Html Url</th>
      <th>Created_at</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rep of repos;">
      <td>{{rep.id}}</td>
      <td>{{rep.name}}</td>
      <td>{{rep.html_url}}</td>
      <td>{{rep.created_at}}</td>
    </tr>
  </tbody>
</table>

<pre>{{repos | json}}</pre>